
<div class = "container" >
  <% if current_user.id == @post.user.id %>
  <%= form_for @post do |f| %>
    <%= f.label :title, "Title: " %>
    <%= f.text_field :title %>
    <br>
    <%= f.label :content, "Content: " %>
    <%= f.text_field :content %>
    <br>
    <%= f.submit %>
  <% end %>
  <% end %>
</div>
