
<div class = "container" >
  <% if current_user.id == @post.user.id %>

   <%= link_to "Edit Post", edit_post_path(@post) %>
   <%= link_to "Delete Post", post_path(@post), method: :delete %>
 <% end %>
  <div>
    <p>Title: <%= @post.title %></p>
    <p>Content: <%= @post.content %></p>
  </div>

  <%= form_for Comment.new do |f| %>
  <%= hidden_field_tag "[comment]post_id", @post.id %>
      <p>Comment: </p>
  <%= f.text_area :content %>
  <%= f.submit "Submit" %>
  <%end%>

  <div>
    <% @comments.each do |comment| %>
      <p><% comment.user.fname %></p>
      <p>Comment: <%= comment.content %></p>
      <hr>
    <% end %>
  </div>
</div>
